*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}
body{
    position: relative;
    background: white;
    font-family: 'roboto', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    padding:30px 5px;
   
}
.logo{
    height: 30px;
    margin: -5px 30px 0;
}

.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid #dbdbdb;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    padding: 5px 0;
    border-left: none;
}

.search-btn img{
    height: 100%;
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* side-bar */

.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    min-width: 100px;
    width: 100px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-right: 10px;
}

.links{
    display: block;
    width: 100%;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    flex-wrap: wrap;
    justify-content: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

.links img{
    height: 30px;
    margin-right: 20px;
    position:relative;
    margin-left: 20px;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/* .seperator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
} */

/* filter */

.filters{
    position: fixed;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: 60px;
    background: #fff;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;
}

.filter-options.active{
    color: #fff;
    background: #242424;
}

/* video */

.video-container{
    width: calc(100% - 300px);
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 20px 10px;
    overflow-x: hidden;
}

.video{
    min-height: 300px;
    height: auto;
}

.thumbnail{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content{
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content:flex-start;
}

.channel-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    
}
.title{
    width:200px;
    height: 60px;
    overflow: hidden;
}
.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #979797;
}
.info{
   width:100px;
   height:150px;
}
.container{
    margin-top: 80px;
    margin-left: 200px;
    display: grid;
  grid-template-columns: 150px 2fr 200px 1fr;
}
.left{
    margin-top: 50px;
    width:150px;
    margin-left: 20px;
}
.left img{
    border-radius: 50px;
    width:120px;
    height:120px;
}
.center{
    margin-top:60px;
    font-size: 20px;
}
.right1{
    margin-top:80px;
    border: 1px solid black;
    border-radius: 25px;
    height:50px;
    width:200px;
    background-color: #e9e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.right2{
    margin-top:80px;
    border: 1px solid black;
    border-radius: 25px;
    height:50px;
    text-align: center;
    width:250px;
    background-color: #e9e3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.home-bar{
    margin-left: 250px;
    margin-top:50px;
}
.home-bar span{
    padding:30px;
    font-size: 20px;
}
.line{
    margin-top: 25px;
}
.home-bar span:hover {
    background-color: rgb(218, 206, 206);
    opacity: 0.8;
    }

    .video1{
        width: calc(100% - 300px);
        margin-top: 80px;
        margin-left: 200px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px 10px;
        overflow-x: hidden;
    }
    .subscrib{
        width: calc(100% - 300px);
    margin-top: 80px;
    margin-left: 200px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 20px 10px;
    overflow-x: hidden;
    }
    .user{
        width: calc(100% - 300px);
        margin-top: 80px;
        margin-left: 200px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-gap: 20px 10px;
        overflow-x: hidden;
    }

    .content-container{
        margin-top: 80px;
        margin-left: 200px;
        
    }
    .row{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .act img{
width:500px;
height:300px;
    }
    .topic{
        display:flex;
        flex-wrap: wrap;
    }
    .topics{
        width:80px;
        height:80px;
        border-radius: 50px;
    }